html {
  font-size: 16px;
}

.navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-nav .navbar-nav > .active > a:hover {
  color: #37c2aa;
  background-color: white;
}

.navbar {
  background-color: white;
}

.jumbotron {
  background-image: url('../images/jumbotron.png');
  background-position: center;
  background-size: cover;
  height: 43.5rem;
}

.jumbotron h1 {
  margin-top: 17rem;
}

.why {
  border-top: solid 1px black;
}

.why h1 {
  position: relative;
  top: -2.5rem;
}

.team {
  background-color: gray;
}
